body {
    font-family: 'Roboto Slab';
    font-weight: normal;
    color: dimgray;
    text-align: center;
    font-size: 1.1rem;
    background-image: linear-gradient(to bottom, white, lightblue);

}

.logo {
    max-width: 150px;
}

.img-thumbnail:hover{
    transform: scale(1.1);
}
.dados {
    font-size: 1.2rem;
}